auth_token = ""
project_id = ""
ssh_private_key_path = ""
plan = "s3.xlarge.x86"
operating_system = "ubuntu_20_04"
facility = "dc13"
cluster_size = 4
hostname = "minio-storage-node"
storage_drive_model = "HGST"
minio_erasure_set_drive_count = "8"
minio_storage_class_standard = "EC:2"
minio_region_name = "us-east-1"

